*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh;
    background-color: #b9fbc0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vh;
    border-radius: 5vh;
    margin-top: 10vh;
    background-color: #fbf8cc;
}

h1{
    font-size: 6vh;
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-size: 3vh;
    font-family: 'Courier New', Courier, monospace;
}

h3{
    font-size: 3vh;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    text-align: center;
}

.amount{
    text-align: center;
    padding-bottom: 5vh;
}

input{
    font-size: 3vh;
    border-radius: 1vh;
    text-align: center;
}

.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
    gap: 3vh;
}

.select-container{
    display: flex;
    gap: 1vh;
}

img{
    border-radius: 40%;
}

i{
    margin-top: 3vh;
    font-size: 3vh;
}

select{
    height: 3.5vh;
    margin-top: 1.5vh;
    border-radius: 1vh;
}

button{
    margin-top: 2vh;
    height: 3.5vh;
    width: 20vh;
    border-radius: 10vh;
    background-color: #a3c4f3;
    color: #011026;
}